<!DOCTYPE html>

<html>


    <head>

            <title>Login</title>
            <meta charset="utf-8">
            {% load static %}
            <link rel="stylesheet" type="text/css" href='{% static "css/loginstyle.css" %}'>

    </head>

    <body>
        <div id="formulario">
           
            
                
                <form action="submit" method="POST">{% csrf_token %}
		    <img src='{% static "img/doit.png" %}'>
                    <div align = 'center'> 
                            
                        <label>Usuário</label>

                        <input id='name' type="text" name="username" size="10px"><br>

                        <label>Senha</label>

                        <input id='password' type="password" name="password" size="10px"><br>

                        <button type="submit"> Entrar </button>
                     </div>
               
                </form>
        {% for message in messages %}
            <div id="messages" align='center'>
                <strong>ERRO : </strong>{{message}}
            </div>
        {% endfor %}

         </div>

    </body>  
</html>
